{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Content</th>
                <th>Length</th>
                <th>Owner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.source }}</td>
                <td>{{ document.content }}</td>
                <td>{{ document.length }}</td>
                <td>{{ document.owner }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">show</a>
                    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('document_new') }}">Create new</a>
{% endblock %}
